In [1]:
import warnings
#warnings.filterwarnings("error")
import sys
sys.path.append('pysubgroup')
from model_mining.evaluation_framework import EvaluationFramework
from pathlib import Path
import numpy as np
import pandas as pd
from collections import namedtuple
from tqdm import tqdm
date_path=Path('02_05')
folder= Path.home()/Path('experiments')/date_path
print(folder)
frame = EvaluationFramework(folder)
pd.set_option('display.max_colwidth', 100)
from model_mining.utils import *

C:\Users\Stamm\experiments\02_05

In [2]:
def evaluate_results(self, prefix, experiment_name, n_results, show_progress=None, allow_omit=False):
    the_range=range(n_results)
    if not show_progress is None:
        the_range=show_progress(the_range)
    total_runtime={}
    mine_runtime={}
    for n in the_range:
        tpl = self.load_dataset(prefix/Path(experiment_name), n)
        fixed_params = (tpl.alpha, tpl.beta,tpl.gamma, tpl.ex_qf_name, tpl.sim_qf_name)
        mine_runtime[fixed_params] = (tpl.mine_runtime,)
        total_runtime[fixed_params] = (tpl.total_runtime,)
    mine_runtime=self.dict_to_df(mine_runtime)
    total_runtime=self.dict_to_df(total_runtime)
    return total_runtime, mine_runtime

In [3]:
num_dataframes = 10
num_parameters = 36
num_quality_pairs = 16
#model_class=Path('regression')
model_class=Path('regression')
experiment_name='mine_pair'+'_results'

total_experiments=num_dataframes * num_parameters * num_quality_pairs
result_frames  = evaluate_results(frame, model_class,experiment_name, total_experiments, tqdm, allow_omit=False)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5760/5760 [00:07<00:00, 806.05it/s]

In [4]:
abbreviations={'LikelihoodExceptionality_transition':'Like',
'LikelihoodSimilarity':'Like',
'TotalVariationSimilarity': 'var',
 'TotalVariationExceptionality':'var',
 'ParameterDiff':'par',
 'ParameterDiff_sim':'par',
 'Cooks_sim':'Cooks',
 'Like_sim':'Like',
 'Log_sim':'Log',
 'par_sim':'par'}

In [5]:
def unstack_index(df, fun):
    new_df = df.groupby(['ex','sim']).agg(fun)
    #new_df = new_df.reorder_levels(['ex','sim'])
    return new_df

In [6]:
df_total = unstack_index(result_frames[0], ['mean','std']).sort_index()
df_mine = unstack_index(result_frames[1], ['mean','std']).sort_index()

In [7]:
df_total

                        0
                     mean       std
ex    sim
Cooks Cooks_sim  0.351096  0.014732
      Like_sim   0.292721  0.011968
      Log_sim    0.283411  0.016254
      par_sim    0.286001  0.013621
Like  Cooks_sim  0.412315  0.015362
      Like_sim   0.353055  0.013217
      Log_sim    0.343333  0.015423
      par_sim    0.351277  0.014969
Log   Cooks_sim  0.559424  0.018574
      Like_sim   0.499803  0.024529
      Log_sim    0.491284  0.019956
      par_sim    0.498373  0.012785
par   Cooks_sim  0.351545  0.013112
      Like_sim   0.299733  0.013216
      Log_sim    0.287386  0.013121
      par_sim    0.297135  0.017157

In [8]:
df_mine.columns=df_mine.columns.droplevel()

In [9]:
df_total.columns=df_total.columns.droplevel()

In [10]:
(df_total-df_mine).groupby(['sim']).agg('mean')

               mean       std
sim
Cooks_sim  0.110274  0.002608
Like_sim   0.054764  0.001920
Log_sim    0.056020  0.002180
par_sim    0.063324  0.002661

In [11]:
(df_total).groupby(['sim']).agg('mean')

               mean       std
sim
Cooks_sim  0.418595  0.015445
Like_sim   0.361328  0.015733
Log_sim    0.351353  0.016188
par_sim    0.358196  0.014633

In [12]:
df_mine = result_frames[1].groupby(['sim']).agg(['mean','std']).sort_index()
df_total2 = result_frames[0].groupby(['sim']).agg(['mean','std']).sort_index()

In [13]:
df_total2

                  0
               mean       std
sim
Cooks_sim  0.418595  0.086712
Like_sim   0.361328  0.085162
Log_sim    0.351353  0.086025
par_sim    0.358196  0.086150

In [14]:
(df_min).groupby(['ex']).agg('mean')

NameError: name 'df_min' is not defined